body {
	background-color: #c8dad3;
	color: black;
	font-family: 'Times';
}

h1 {
	color: #63707e;
	font-family: 'Courgette', cursive;
	font-weight: 10px;
	letter-spacing: 4px;
	font-size: 20px;
	padding: 3px;
}

h2 {
	color: #63707e;
	font-family: 'Courgette';
	font-weight: 100;
	letter-spacing: 5px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

a:hover {
	color: pink;

}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
	width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
	width: 400px;
	}
}


.card-grey {
	background-color: #f2f6f5;
	padding-top: 20px;
	padding-bottom: 40px;	
	padding-left: 20px;
	padding-right: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px; 
    margin: 30px 0px;
    text-align: center;
    
}

#img-circle {
	width: 200px;
	border-radius: 75%;
	padding: 20px;
}

.btn-green {
	background-color: #002f35;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-green:hover {
	background-color: #5c7658;
	color: white;

}

.list-inline {
	list-style: none;
	padding-left: 0px;

}

.list-inline li {
	display: inline;
	padding: 5px;
}

.list-inline i {
	font-size: 30px;
	color: #002f35;
}

.list-inline i:hover {
	color: #5c7658;
}

#introduction p {
	margin-bottom: 40px;

}

.list-none {
	list-style: none;
	text-align: justify;
	padding-left: 0px;
}
